html * {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #223763;
}

h1, h2, h3 {
  font-weight: bold;
  margin: 0.5rem 0;
  color: #0D2454;
  line-height: 1;
}

h1 {
  font-size: clamp(48px, 8vw, 120px);
}

h2 {
  font-size: clamp(32px, 5.8vw, 88px);
}

h3 {
  font-size: clamp(24px, 4.2vw, 64px);
}

a {
  color: #0C378D;
  transition: 0.25s color;
}
a:hover {
  color: #617399;
  text-decoration: none;
}

p, li {
  font-size: 16px;
}

header {
  display: flex;
}
header .header_inner {
  width: 100%;
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
@media screen and (min-width: 550px) {
  header .header_inner {
    flex-direction: row;
  }
}
header .logo_secondary {
  text-align: center;
}
@media screen and (min-width: 550px) {
  header .logo_secondary {
    text-align: right;
  }
}
header .logo_secondary h2 {
  margin: 0;
  font-size: clamp(24px, 6vw, 46px);
  font-weight: normal;
}
header .logo_secondary p {
  font-size: clamp(12px, 2.5vw, 16px);
  margin-top: 0.5rem;
  margin-bottom: 0;
}

footer {
  clear: both;
  color: #ffffff;
  background: #0D2454;
}
footer .footer_inner {
  display: grid;
  grid-template-areas: "footer_right" "footer_left" "footer_bottom";
  gap: 40px;
  margin: 50px auto 0 auto;
  max-width: 1680px;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  footer .footer_inner {
    grid-template-areas: "footer_left footer_right" "footer_bottom footer_bottom";
    grid-template-columns: auto auto;
  }
}
@media screen and (min-width: 1024px) {
  footer .footer_inner {
    grid-template-areas: "footer_left footer_right ." "footer_bottom footer_bottom .";
    grid-template-columns: auto auto 250px;
  }
}
footer .footer_inner h1, footer .footer_inner h2, footer .footer_inner h3, footer .footer_inner p {
  color: #ffffff;
}
footer .footer_inner h2 {
  font-size: clamp(22px, 4.1vw, 60px);
}
footer .footer_inner a {
  color: #D6E4FF;
}
footer .footer_inner a:hover {
  color: #7a93c8;
}
@media screen and (min-width: 768px) {
  footer .footer_inner div {
    padding-top: 50px;
  }
}
footer .footer_inner div p, footer .footer_inner div input {
  margin: 1rem 0;
}
footer .footer_inner i.fa {
  color: #D6E4FF;
}
footer .footer_inner .footer_left {
  grid-area: footer_left;
}
footer .footer_inner .footer_right {
  grid-area: footer_right;
}
footer .footer_inner .footer_bottom {
  grid-area: footer_bottom;
}
footer #search_form {
  display: flex;
  align-items: center;
}
footer #search_form #search_txt {
  padding: 5px 10px;
  border: 3px solid transparent;
}
footer #search_form #search_txt:focus {
  outline: none;
  background-color: #D6E4FF;
  border-color: #ffffff;
  box-shadow: 2px 2px 5px black;
  color: #223763;
}
footer #search_form #submit {
  background: none;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
  margin-left: 10px;
}
footer #search_form #submit:hover i.fa {
  color: #7a93c8;
}

main figure {
  max-width: 250px;
}
main figure img {
  max-width: 100%;
  height: auto;
  display: block;
}
main figure figcaption {
  background: #d6e4ff;
  padding: 0.5rem;
  font-size: 0.9rem;
}
main figure a {
  outline: none;
}
main figure.pull_right {
  float: right;
  margin: 0 0 1rem 1rem;
}

.content {
  max-width: 1680px;
  margin: 0 auto;
  padding: 2rem;
}
@media screen and (min-width: 1024px) {
  .content {
    display: grid;
    gap: 40px;
    grid: auto/1fr auto;
  }
}
.content .content_body h2 {
  margin-top: 2rem;
}
.content .content_body h3 {
  margin-top: 1.5rem;
}
.content .table_of_contents {
  display: none;
}
@media screen and (min-width: 1024px) {
  .content .table_of_contents {
    background: #d6e4ff;
    width: 260px;
    align-self: start;
    padding: clamp(15px, 2.5vw, 30px);
    display: block;
  }
}
.content .table_of_contents h2 {
  font-size: 10px;
  font-weight: normal;
  font-style: italic;
  margin: 0 0 1rem 0;
}
.content .table_of_contents hr {
  border: 0;
  border-top: 1px solid #333333;
}
.content .table_of_contents ul {
  padding: 0 0 0 15px;
}
.content .table_of_contents ul li {
  line-height: 1.25;
}
.content .table_of_contents ul li a {
  display: block;
  padding: 5px 0;
}
.content .table_of_contents ul li a.active {
  font-weight: bold;
}
.content .table_of_contents.fixed {
  position: sticky;
  top: 0;
}
.content .button {
  display: inline-block;
  background-color: #950404;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 0 1px 2px #fff, 0 0 0px 3px #950404;
  transition: 0.25s background-color, 0.25s color;
}
.content .button:hover {
  background-color: #b20606;
}

.accessible_text {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.carousel {
  width: 100%;
  height: 400px;
  overflow: hidden;
  position: relative;
}
@media screen and (min-width: 768px) {
  .carousel {
    height: 640px;
  }
}
.carousel .carousel_wrap {
  width: inherit;
  height: calc(100% - 50px);
  display: flex;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  transition: 0.75s transform ease-in-out;
}
.carousel .carousel_wrap .carousel_slide {
  flex: 0 0 auto;
  width: 100%;
  position: relative;
}
.carousel .carousel_wrap .carousel_slide img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info {
  position: relative;
  z-index: 2;
  display: grid;
  gap: 20px;
  grid-template-areas: "credit" "title" "caption";
  height: 100%;
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info h2, .carousel .carousel_wrap .carousel_slide .carousel_slide_info .caption {
  margin: 0 auto;
  max-width: 1200px;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .carousel .carousel_wrap .carousel_slide .carousel_slide_info h2, .carousel .carousel_wrap .carousel_slide .carousel_slide_info .caption {
    width: 75%;
  }
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info h2 {
  grid-area: title;
  text-align: center;
  font-size: clamp(32px, 4.8vw, 78px);
  margin: 0 auto;
  align-self: end;
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info h2 span {
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
  text-wrap-style: pretty;
  background: #ffffff;
  padding: 0 25px;
  line-height: 1.45;
  border-radius: 0.5em;
  box-shadow: -0.08em -0.08em 0.18em rgba(255, 0, 0, 0.8), -0.18em 0.18em 0.18em rgba(0, 0, 255, 0.8), 0.18em 0.18em 0.18em rgba(0, 0, 255, 0.8);
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info .caption {
  grid-area: caption;
  text-align: center;
  background: #d6e4ff;
  padding: 1rem 2.5rem;
  line-height: 1.5;
  font-size: clamp(14px, 1.5vw, 16px);
  border-radius: 8px;
  align-self: start;
  margin: 0 auto;
}
.carousel .carousel_wrap .carousel_slide .carousel_slide_info .credit {
  grid-area: credit;
  background: #ffffff;
  padding: 1rem;
  align-self: start;
  justify-self: start;
  margin-top: 0.7rem;
  font-size: clamp(12px, 1.4vw, 16px);
}
.carousel .carousel_nav {
  display: flex;
  position: absolute;
  bottom: 10px;
  z-index: 2;
  width: 100%;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 8px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.carousel .carousel_nav li a {
  display: block;
  height: 20px;
  width: 20px;
  background: #ffffff;
  border: 2px solid #ff0000;
  border-radius: 50%;
}
.carousel .carousel_nav li a.active {
  border-width: 4px;
  height: 26px;
  width: 26px;
  background: #cccccc;
}
.carousel .carousel_play_btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  border-radius: 4px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3333333333);
}
.carousel .carousel_play_btn:hover {
  background: #ffffff;
}
.carousel .carousel_play_btn.playing .pause {
  display: block;
}
.carousel .carousel_play_btn.playing .play {
  display: none;
}
.carousel .carousel_play_btn.paused .pause {
  display: none;
}
.carousel .carousel_play_btn.paused .play {
  display: block;
}
.carousel .carousel_next_btn,
.carousel .carousel_prev_btn {
  position: absolute;
  z-index: 2;
  top: calc(50% - 50px);
  background-color: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3333333333);
  transform: translateY(-50%);
}
.carousel .carousel_next_btn:hover,
.carousel .carousel_prev_btn:hover {
  background-color: white;
}
.carousel .carousel_next_btn {
  right: 20px;
}
.carousel .carousel_prev_btn {
  left: 20px;
}

/*# sourceMappingURL=styles.css.map */
