@import "fonts/fonts";
@import "variables/variables";

body {
    margin: 0;
    padding: 0;
    font-family: $font_family__base;
    font-size: $font_size__base;
}

h1, h2, h3 {
    font-weight: bold;
    margin: 0;
}

h1 {
    font-size: $font_size__h1;
}
h2 {
    font-size: $font_size__h2;
}
h3 {
    font-size: $font_size__h3;
}