@import "fonts/fonts";
@import "variables/variables";

html * {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font_family__base;
    font-size: $font_size__base;
    line-height: 1.5;
    color: $color__base;
}

h1, h2, h3 {
    font-weight: bold;
    margin: .5rem 0;
    color: $color__heading;
    line-height: 1;
}

h1 {
    font-size: $font_size__h1;
}
h2 {
    font-size: $font_size__h2;
}
h3 {
    font-size: $font_size__h3;
}

a {
    color: $color__link;
    transition: .25s color;

    &:hover {
        color: $color__link__hover;
        text-decoration: none;
    }
}

p, li {
    font-size: $font_size__base;
}

header {
    display: flex;

    .header_inner {
        width: 100%;
        max-width: $size__breakpoint__max;
        margin: 0 auto;
        padding: $size__section_padding;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        @media screen and (min-width: $size__breakpoint__sml) {
            flex-direction: row;
        }
    }

    .logo_secondary {
        text-align: center;
        @media screen and (min-width: $size__breakpoint__sml) {
            text-align: right;
        }

        h2 {
            margin: 0;
            font-size: clamp(24px, 6vw, 46px);
            font-weight: normal;
        }
        p {
            font-size: clamp(12px, 2.5vw, 16px);
            margin-top: .5rem;
            margin-bottom: 0;
        }
    }
}

footer {
    clear: both;
    color: $color__footer__base;
    background: $color__footer__background;

    .footer_inner {
        display: grid;
        grid-template-areas:
            "footer_right"
            "footer_left"
            "footer_bottom"
        ;
        @media screen and (min-width: $size__breakpoint__mid) {
            // Use grid with empty area to match content
            grid-template-areas:
                "footer_left footer_right"
                "footer_bottom footer_bottom"
            ;
            grid-template-columns: auto auto;
        }
        @media screen and (min-width: $size__breakpoint__lrg) {
            // Use grid with empty area to match content
            grid-template-areas:
                "footer_left footer_right ."
                "footer_bottom footer_bottom ."
            ;
            grid-template-columns: auto auto 250px;
        }
        gap: $size__content_gap;
        margin: 50px auto 0 auto;
        max-width: $size__breakpoint__max;
        padding: $size__section_padding;

        h1, h2, h3, p {
            color: $color__footer__base;
        }

        h2 {
            font-size: $font_size__footer__h2;
        }

        a {
            color: $color__footer__link;

            &:hover {
                color: $color__footer__link__hover;
            }
        }

        div {
            @media screen and (min-width: $size__breakpoint__mid) {
                padding-top: 50px;
            }

            p, input {
                margin: 1rem 0;
            }
        }

        i.fa {
            color: $color__footer__link;
        }

        .footer_left {
            grid-area: footer_left;
        }
        .footer_right {
            grid-area: footer_right;
        }
        .footer_bottom {
            grid-area: footer_bottom;
        }
    }

    #search_form {
        display: flex;
        align-items: center;

        #search_txt {
            padding: 5px 10px;
            border: 3px solid transparent;

            &:focus {
                outline: none;
                background-color: $color__footer__link;
                border-color: #ffffff;
                box-shadow: 2px 2px 5px #000000ff;
                color: $color__base;
            }
        }

        #submit {
            background: none;
            border: none;
            color: inherit;
            cursor: pointer;
            padding: 0;
            margin-left: 10px;

            &:hover i.fa {
                color: $color__footer__link__hover;
            }
        }

    }

}

main {

    figure {
        max-width: $size__figure__max_width;

        img {
            max-width: 100%;
            height: auto;
            display: block;
        }

        figcaption {
            background: $color__figcaption__background;
            padding: 0.5rem;
            font-size: 0.9rem;

        }

        a {
            outline: none;
        }

        &.pull_right {
            float: right;
            margin: 0 0 1rem 1rem;
        }

    }

}

.content {
    max-width: $size__breakpoint__max;
    margin: 0 auto;
    padding: $size__section_padding;

    @media screen and (min-width: $size__breakpoint__lrg) {
        display: grid;
        gap: $size__content_gap;
        grid: auto / 1fr auto;
    }

    .content_body {

        h2 {
            margin-top: 2rem;
        }

        h3 {
            margin-top: 1.5rem;
        }
    }

    .table_of_contents {
        //TODO: create a style for TOC on mobile/tablet
        display: none;

        @media screen and (min-width: $size__breakpoint__lrg) {
            background: $color__figcaption__background;
            width: 260px;
            align-self: start;
            padding: clamp(15px, 2.5vw, 30px);
            display: block;
        }

        h2 {
            font-size: 10px;
            font-weight: normal;
            font-style: italic;
            margin: 0 0 1rem 0;
        }

        hr {
            border: 0;
            border-top: 1px solid #333333;
        }

        ul {
            padding: 0 0 0 15px;

            li {
                line-height: 1.25;

                a {
                    display: block;
                    padding: 5px 0;

                    &.active {
                        font-weight: bold;
                    }
                }

            }
        }

        &.fixed {
            position: sticky;
            top: 0;
        }
    }

    .button {
        display: inline-block;
        background-color: $color__button__background;
        color: $color__button;;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 4px;
        box-shadow: 0 0 1px 2px #fff, 0 0 0px 3px $color__button__background;
        transition: .25s background-color, .25s color;

        &:hover {
            background-color: $color__button__background__hover;
        }
    }

}

.accessible_text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

// Carousel styling (break out of main for modularity)
.carousel {
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: $size__breakpoint__mid) {
        height: 640px;
    }

    .carousel_wrap {
        width: inherit;
        height: calc(100% - 50px);
        display: flex;
        scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch;
        transition: .75s transform ease-in-out;

        .carousel_slide {
            flex: 0 0 auto;
            width: 100%;
            position: relative;

            img {
                display: block;
                object-fit: cover;
                width: 100%;
                height: 100%;
                position: absolute;
                z-index: 1;
            }

            .carousel_slide_info {
                position: relative;
                z-index: 2;
                display: grid;
                gap: 20px;
                grid-template-areas:
                    "credit"
                    "title"
                    "caption"
                ;
                height: 100%;

                h2, .caption {
                    margin: 0 auto;
                    max-width: 1200px;
                    width: 95%;
                    @media screen and (min-width: $size__breakpoint__mid) {
                        width: 75%;
                    }

                }

                h2 {
                    grid-area: title;
                    text-align: center;
                    font-size: $font_size__carousel__h2;
                    margin: 0 auto;
                    align-self: end;


                    span {
                        box-decoration-break: clone;
                        -webkit-box-decoration-break: clone;
                        text-wrap-style: pretty;
                        background: #ffffff;
                        padding: 0 25px;
                        line-height: 1.45;
                        // EM-based to account for changing font-sizes
                        border-radius: .5em;
                        box-shadow:  
                            -.08em -.08em .18em #ff0000cc, 
                            -.18em .18em .18em #0000ffcc,
                            .18em .18em .18em #0000ffcc
                        ;
                    }
                }
                .caption {
                    grid-area: caption;
                    text-align: center;
                    background: $color__figcaption__background;
                    padding: 1rem 2.5rem;
                    line-height: 1.5;
                    font-size: clamp(14px, 1.5vw, 16px);
                    border-radius: 8px;
                    align-self: start;
                    margin: 0 auto;
                    
                }
                .credit {
                    grid-area: credit;
                    background: #ffffff;
                    padding: 1rem;
                    align-self: start;
                    justify-self: start;
                    margin-top: .7rem;
                    font-size: clamp(12px, 1.4vw, 16px);
                }
            }
        }

    }
    .carousel_nav {
        display: flex;
        position: absolute;
        bottom: 10px;
        z-index: 2;
        width: 100%;
        align-content: center;
        justify-content: center;
        align-items: center;
        gap: 8px;
        list-style: none;
        margin: 0;
        padding: 0;

        li a {
            display: block;
            height: 20px;
            width: 20px;
            background: #ffffff;
            border: 2px solid #ff0000;
            border-radius: 50%;

            &.active {
                border-width: 4px;
                height: 26px;
                width: 26px;
                background: #cccccc;
            }
        }
    }
    .carousel_play_btn {
        position: absolute;
        top: 20px;
        right: 20px;
        background: #ffffff99;
        border: none;
        border-radius: 4px;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 24px;
        box-shadow: 0 0 5px #00000055;

        &:hover {
            background: #ffffff;
        }

        &.playing {
            .pause {
                display: block;
            }
            .play {
                display: none;
            }
        }

        &.paused {
            .pause {
                display: none;
            }
            .play {
                display: block;
            }
        }


    }
    .carousel_next_btn,
    .carousel_prev_btn {
        position: absolute;
        z-index: 2;
        top: calc(50% - 50px);
        background-color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, .5);
        border: none;
        border-radius: 50%;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 16px;
        box-shadow: 0 0 5px #00000055;
        transform: translateY(-50%);
        transition: .25s background-color;

        &:hover {
            background-color: #ffffffff;
        }
    }
    .carousel_next_btn {
        right: 20px;
    }
    .carousel_prev_btn {
        left: 20px;
    }

}
