$color__base: #223763;
$color__heading: #0D2454;

$color__link: #0C378D;
$color__link__hover: #617399;
$color__link__visited: #223763;
$color__link__active: #223763;

$color__footer__base: #ffffff;
$color__footer__background: #0D2454;
$color__footer__link: #D6E4FF;
$color__footer__link__hover: #7a93c8;
$color__footer__link__visited: #D6E4FF;
$color__footer__link__active: #D6E4FF;

$color__figcaption__background: #d6e4ff;

$color__button: #ffffff;
$color__button__background: #950404;
$color__button__background__hover: #b20606;
