// Font sizes

$font_size__base: 16px;

// TODO: fill in clamp sizes
$font_size__h1: clamp(48px, 8vw, 120px);
$font_size__h2: clamp(32px, 5.8vw, 88px);
$font_size__h3: clamp(24px, 4.2vw, 64px);

$font_size__footer__h2: clamp(22px, 4.1vw, 60px);
$font_size__carousel__h2: clamp(32px, 4.8vw, 78px);


// Breakpoints
$size__breakpoint__sml: 550px;
$size__breakpoint__mid: 768px;
$size__breakpoint__lrg: 1024px;
$size__breakpoint__xlg: 1200px;
$size__breakpoint__xxl: 1440px;
$size__breakpoint__max: 1680px;

$size__figure__max_width: 250px;

// Misc
$size__content_gap: 40px;
$size__section_padding: 2rem;